body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.gallery-container {
  display: flex;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  transition: height 500ms linear;
}

.status-div {
  color: red;
  font-weight: bold;
}


.small-image-container {
  width: 15em;
  height: 15em;
  display:block;
  border: lightgray solid 1px;
}
.small-image-container img {
  max-width: 15em;
  max-height: 15em;
  width: auto;
  height: auto;
  cursor: pointer;
}

.side-show {
  width: 50%;
}

i {
  font-size: 24px;
}

.disabled {
  color: lightgray;
  transition: color 1s linear;
}

div[is="add-image"]  div {
  border-bottom: solid 1px;
  margin-bottom: 10px;
}
div[is="add-image"]  div input,
div[is="add-image"]  div textarea {
  font-size: 24px;
  border-style: none;

}
.rename-section input {
  font-size: 24px;
}

.hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
  transition: height 500ms linear;
}

button {

  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
}